{% extends 'base.html.twig' %}

{% block title %}Oups
{% endblock %}

{% block body %}
	<div class="row justify-content-center ">


		<h1 class=" display-1 text-dark p-2 text-center">Oups !!</h3>
		<h3 class="display-3  bg-primary text-dark  bg-gradient rounded opacity-75 p-2 shadow-lg text-center border border-secondary ">un probléme est survenu</h3>


	</div>
{% endblock %}
